.navigator-container{
    justify-content: space-between;
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.navigator-container>nav>button{
    height: 30px;
    border-radius: 5px;
}
.judulartikelclass>header{
    text-align: center;
    
}
section>header>h1{
    font-family: fangsong;
}
.cardbackground{
    display: flex;
}
.card-item{
    background-color: aliceblue;
    border: 0px;
    border-radius: 5px;
    height: 400px;
    width: 100%;
    border: 1px solid;
    margin: 20px;
    
}
.card-item>header>p{
    padding-left: 90px;
    font-family: sans-serif;
    font-size: 14px;
    color: darkgray;
}
.username-crad{
   
    color: black;
    text-align: start;
    padding: 0px;
    margin: 0px;
    padding-left: 90px;
    }
.username-crad>input{
    height: 32px;
    width: 60%;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    
}
.card-two{
    background-color: darkseagreen;
    height: 100px;
    align-content: center;
    text-align: center;
}
.text-card-two{
    font-size: 20px;
}
.container-feature-2{
    display: flex;
    padding-bottom: 100px;
}
.box2{
    flex: 1;
    margin: 5px;
    border: 0px;
    padding: 1px;
}
.our-package-content{
    align-content: center;
    background-color: darkgray;
    font-size: 24px;
    font-family: calibri;
    font-weight: bold;
    text-align: center;
}
.your-closing-content{
    align-content: center;
    font-size: 24px;
    font-family: calibri;
    font-weight: bold;
    text-align: center;
    padding-bottom: 70px;
}
#submit2{
    width: 300px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 17px;
    font-family: fantasy;

}.footer-logo{
    text-align: center;
    bottom: 0;
    width: 100%;
    font-size: small;
    font-family: calibri;
}
