.navigator-container{
    justify-content: space-between;
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.navigator-container>nav>button{
    height: 30px;
}
.judulartikelclass>header{
    text-align: center;
    
}
section>header>h1{
    font-family: fangsong;
}
.cardbackground{
    display: flex;
}
.card-item{
    height: 200px;
    width: 100%;
    border: 1px solid;
    margin: 5px;
}
